{% load static %}
<!DOCTYPE html>
<!-- i'm sorry. -->
<html>
<head>
  <meta charset="utf-8">
  <meta name="description" content="New York Fruit Exchange">
  <meta name="author" content="cassidy">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{% block title %}NYFE{% endblock %}</title>
  <link type="text/css" href="{% static 'css/style.css' %}" rel="stylesheet">
</head>

<!--<img src="/static/karsten_birthday.png" style="width: 100%; height: 100%;" id='karsten'>
<script>
  const targetDate=new Date(2024,7,14);
  const currentDate=new Date();
  const element=document.getElementById('karsten');
  element.style.display=currentDate>=targetDate?'block':'none';
</script>-->

<body>
  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li{% if message.tags %} class="is-{{ message.tags }}"{% endif %}>
    {{ message }}<span class='close' onclick="close_message(this)" aria-label="close message">✖</span>
      </li>
    {% endfor %}
  </ul>
  {% endif %}
  {% include "navbar.html" %}
  <div class="main-wrapper">
    <main>
      {% block content %}
      {% endblock %}
    </main>
    <aside class="aside">
      <div class="sidepanel">
        {% block aside %}
        {% endblock %}
      </div>
    </aside>
    <footer class="footer">
      Data is retrieved on demand from the <a href="https://mymarketnews.ams.usda.gov/">USDA Agricultural Marketing Service</a>
    </footer>
  </div>

<script>
  function close_message(el){
    el.parentElement.remove();
  }
</script>
<script src="{% static 'js/script.js'%}"></script>
</body>
</html>
